<div class="header-app valign-wrapper">
  <h5 class="center-align">Lista de compras</h5>
</div>
<section class="margem card-panel">
  <table class="striped highlight">
    <thead>
      <tr>
        <th>Produto</th>
        <th class="right-align">
          <mat-checkbox [(ngModel)]="verify" (change)="selectAll($event)"></mat-checkbox>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let produto of listaCompra, let i = index">
        <td (press)="drop(produto, i)" [ngClass]="{ 'red-text' : produto.check === true, 'riscado' : produto.check === true }">{{
          produto.nome
          }}</td>
        <td class="right-align">
          <mat-checkbox [(ngModel)]="produto.check" [checked]="produto.check"
            (change)="checar($event)"></mat-checkbox>
        </td>
      </tr>
      <tr *ngIf="listaCompra.length === 0">
        <td colspan="2" class="center-align">Nenhum produto encontrado</td>
      </tr>
    </tbody>
  </table>
  <p>
    <button mat-raised-button color="warn" (click)="finalizar()" *ngIf="listaCompra.length > 0">Finalizar</button>
  </p>
  <div class="fixed-action-btn">
    <button mat-fab color="primary" (click)="addNew()">
      <mat-icon>add_shopping_cart</mat-icon>
    </button>
  </div>
</section>