.header-app{
  box-shadow: #666 0 2px 20px;
  height: 100px;
  background: #a7cfdf;
  background: -moz-linear-gradient(-45deg, #a7cfdf 0%, #23538a 100%);
  background: -webkit-linear-gradient(-45deg, #a7cfdf 0%,#23538a 100%);
  background: linear-gradient(135deg, #a7cfdf 0%,#23538a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7cfdf', endColorstr='#23538a',GradientType=1 );
}
.header-app h5{
  width: 100%;
  color: #FFFFFF;
  text-shadow: #333 0 2px 1px;
  font-weight: bold;
  text-transform: uppercase;
}
.margem{
  margin: 20px 15px 0 15px;
}

.add-new {    
  position: absolute;
  bottom: 15px;
  right: 10px;
  z-index: 9999;
}

.riscado{
  text-decoration: line-through;
}