<h5>Detalhes</h5>
<div class="cesto">
  <div class="linha">
    <mz-input-container>
      <input mz-input [label]="'Nome'" id="produto-nome" placeholder="Digite aqui"
        type="text" value="Exemplo">
    </mz-input-container>
  </div>
  <div class="linha">
    <mz-select-container>
      <select mz-select [label]="'Tipo'" id="options-select" [placeholder]="'Selecionar opção'">
        <option value>Un - Unidade</option>
        <option value>Kg - kilograma</option>
        <option value>g - grama</option>
        <option value>L - Litro</option>
        <option value>mm - mililitro</option>
      </select>
    </mz-select-container>
  </div>
  <div class="linha">
    <mz-input-container>
      <input mz-input [label]="'Qtd. base'" id="produto-qtd-base" placeholder="Digite aqui"
        type="number" value="1" class="right-align">
    </mz-input-container>
  </div>
  <div class="linha">
    <mz-input-container>
      <input mz-input [label]="'Valor base'" id="produto-qtd-base" placeholder="Digite aqui"
        type="number" value="50,00" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
        class="right-align">
    </mz-input-container>
  </div>
  <div class="linha">
    <mz-input-container>
      <input mz-input [label]="'Qtd.'" id="produto-qtd" placeholder="Digite aqui"
        type="number" value="1" class="right-align">
    </mz-input-container>
  </div>
  <div class="linha">
    <b class="block">Valor</b>
    <span class="right-align">R$ 50,00</span>
  </div>
</div>
<p class="right btn-group">
  <button mat-raised-button color="primary">Atualizar</button>
  <button mat-raised-button color="warn">Cancelar</button>
</p>