<h1 mat-dialog-title>Incluir produto</h1>
<div mat-dialog-content>
  <p>Que produto você deseja incluir?</p>
  <mz-input-container>
    <input mz-input [label]="'Produto'" id="produto-nome" placeholder="Digite aqui"
      type="text" [(ngModel)]="data.nome">
  </mz-input-container>
  <input type="hidden" [(ngModel)]="data.check" value="false">
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="warn" (click)="onNoClick()">Cancelar</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="data"
    cdkFocusInitial>Incluir</button>
</div>