.header-app{
  box-shadow: #666 0 2px 20px;
  height: 100px;
  background: #ff5db1;
  background: -moz-linear-gradient(-45deg, #ff5db1 0%, #ef017c 100%);
  background: -webkit-linear-gradient(-45deg, #ff5db1 0%,#ef017c 100%);
  background: linear-gradient(135deg, #ff5db1 0%,#ef017c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5db1', endColorstr='#ef017c',GradientType=1 );
}
.header-app h5{
  width: 100%;
  color: #FFFFFF;
  text-shadow: #333 0 2px 1px;
  font-weight: bold;
  text-transform: uppercase;
}
.margem{
  margin: 20px 10px 20px 10px;
}
.card-panel{
  padding: 12px;
}
.riscado{
  text-decoration: line-through;
}