<div class="header-app valign-wrapper">
  <h5 class="center-align">Fazer compras</h5>
</div>
<section class="margem card-panel">
  <table class="striped highlight">
    <thead>
      <tr>
        <th>Produto</th>
        <th class="right-align">Subtotal</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let lista of listaProdutos; let i = index" (press)="getDetails(i)">
        <td>{{lista.product_name}}</td>
        <td class="right-align">{{lista.price | BRLCurrency}}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td>Total</td>
        <td class="right-align"><b>{{somaTotal(listaProdutos) | BRLCurrency}}</b></td>
      </tr>
    </tfoot>
  </table>
  <p>
    <button mat-raised-button color="warn">Finalizar</button>
  </p>
  <div class="fixed-action-btn">
    <button mat-fab color="primary">
      <mat-icon>add_shopping_cart</mat-icon>
    </button>
  </div>
</section>