<main class="blue-grey lighten-3 root">
  <mz-sidenav #sidenav [id]="'sidenav'" [collapseButtonId]="'btn-sidenav'">
    <mz-sidenav-link>
      <a [routerLink]="['/home']" class="waves-effect black-text" (click)="sidenav.opened = !sidenav.opened">
        <mat-icon>home</mat-icon>Início
      </a>
    </mz-sidenav-link>
    <mz-sidenav-link>
      <a [routerLink]="['/compra']" class="waves-effect black-text" (click)="sidenav.opened = !sidenav.opened">
        <mat-icon>shopping_cart</mat-icon>Fazer compras
      </a>
    </mz-sidenav-link>
    <mz-sidenav-link>
      <a [routerLink]="['/lista']" class="waves-effect black-text" (click)="sidenav.opened = !sidenav.opened">
        <mat-icon>list</mat-icon>Lista de compras
      </a>
    </mz-sidenav-link>
    <mz-sidenav-link>
      <a [routerLink]="['/simular']" class="waves-effect black-text" (click)="sidenav.opened = !sidenav.opened">
        <mat-icon>play_for_work</mat-icon>Simulação
      </a>
    </mz-sidenav-link>
  </mz-sidenav>

  <mat-toolbar [ngClass]="{'black': true, 'white-text': true}">
    <mat-toolbar-row>
      <span>kBuyer</span>
      <span class="example-spacer"></span>
      <mat-icon class="example-icon red-text" (click)="showToast()">favorite</mat-icon>
      <button mat-button id="btn-sidenav">
        <mat-icon class="example-icon">menu</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <router-outlet></router-outlet>
</main>