body{ margin: 0; }
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.block{
  display: block;
}
.side-nav li>a {
    display: flex !important;
    vertical-align: middle;
    align-items: center;
}
.side-nav li>a .mat-icon{
  margin-right: 15px;
}
.full-width {
  width: 100%;
}
.cdk-overlay-container{
  background: rgba(0,0,0,.92);
}
.mat-dialog-container{
  padding: 12px;
}